extends layout
block content
  h1= title
  if (toShow == null)
    h2 No instance to update
  else
    - let dragonEggsid = toShow._id
    - let size = toShow.size
    - let Color = toShow.color
    - let rarity = toShow.rarity
    div.row(class='mb-2')
      div.mr-1 ID is
      div #{dragonEggsid}
    - let actionid = "/resource/dragonEggs/" + dragonEggsid
    form(id='dragonEggsForm', action= actionid, method="PUT")
      div.form-group
        label.dragonEggsAttr(for='size') Dragon Egg size
        input#size(type='number', name='size', value= size )
      div.form-group
        label.dragonEggsAttr(for='Color') Dragon Egg Color
        input#Color(type='text', name='Color', value= Color )
      div.form-group
        label.dragonEggsAttr(for='rarity') rarity
        input#rarity(type='text', name='rarity', value= rarity )
      input(type="submit")
    script.
      document.forms['dragonEggsForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.text(); //resp.json();or whatever the server sends
        }).then((body) => {
          alert("Update succeeded");
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Update failed: " + error);
        });
      });